/*Hrafns Section*/
*{
    margin: 0;
}

dd {
    margin-inline-start: 0px;
}
.text {
    text-align: center;
    font-size: 2em;
}
.center {
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 0;
}

.left, .right {
    padding: 5px;
    margin: 2rem;
    height: fit-content;
    width: 40vw;
    text-align: center;
    display: grid;
    background-color: rgba(0, 0, 0, 0.945);
    color: white;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
/*Left Grid*/
.left {
    grid-column: 2;
}
/*Right Grid*/
.right {
    grid-column: 3;
}
picture > a > img {
    margin: 2em;
    transition: transform .5s;
    border-radius: 5%;
    max-width: 30vw;
    max-height: 20vh;
}
picture > a > img:hover {
    -ms-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}
a:visited, a:link {
    color: black;
}
/*Companies We Worked for*/
.bottom {
    width: 100vw;
    text-align: center;
    margin-right: 10px;
}
.companies > img {
    max-width: 80vw;
    margin-left: 1em;
    margin-right: 1em;
    justify-content: space-evenly;
}

/*KeyFrames for .Center*/