:root{
    --background-color: #314453;
    --darker-background-color: #243848;
    --accent-color: aliceblue;
    --text-color: #FFFFFF;


    --r-text-color:#0c0a09;
    --r-background-color:#f4f4f5;
    --r-darker-background-color: #d4d4d8;

    --rmob-text-color:#0c0a09;
    --rmob-background-color:#f8fafc;
    --rmob-darker-background-color: #e2e8f0;

}

section>h1 {
    text-align: center;
    font-size: clamp(1.625rem, 6vw + 1px , 2.875rem);
    margin: 60px 1.4% 40px;

}

h1 span {
    color: rgb(77, 58, 160);
}



.img {
    object-fit: contain;
}

.img img {
    max-width: 100%;
    width: 350px;
    height: auto;
    border-radius: 5px;
    outline: 4px solid rgb(159, 233, 233);
}

.img-container {
    display: flex;
    justify-content: center;
    padding: 48px 8%;
    animation: Open 5s ease 0s 1 normal forwards;


}

.right {
    background-color: rgb(159, 233, 233);
    color: #323236;
    height: min(50% / 2, 160px);
    align-self: center;
    padding: 29px;
    transform: translate(-50px);
    border-radius: 5px;
    letter-spacing: 0.8px;
    width: clamp(1vh, 300px, max(90vw, 55rem));
    line-height: 1.5;
}

h2 {
    font-weight: 600;
    margin: 0;
}

.right>p {
    font-size: 1rem;
}

.right hr {
    background-color: rgb(77, 58, 160);
    border-color: rgb(77, 58, 160);
}

.icons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.icons a {
    text-decoration: none;
    font-size: 18px;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 0 6%;
}

ul {
    display: flex;
}
.top ul>a {
    font-size: 0.875rem;
    list-style-type: none;
    margin-left: 20px;
    align-self: center;
    text-decoration: none;
    color: inherit;
    transition: ease 0.4s;
}

ul>a:hover {
    color: rgb(209, 196, 180);
    transform: translateY(2px);
}

.top,
.bottom {
    display: flex;
    justify-content: space-between;
    padding: 10px
}

.top {
    border-top: 1px solid antiquewhite;
}

.bottom {
    padding-bottom: 40px;
    align-items: center;
}

.bottom>p {
    font-size: 12px;
    font-weight: 100;
}

.media a {
    margin-left: 20px;
    color: var(--text-color);
    text-decoration: none;

}

.icons>a:hover {
    color: rgb(106, 102, 128);
    transform: scale(1.1);
    transition: ease 0.48s;
}

.media a:hover {
    color: rgb(106, 102, 128);
    transition: ease 0.4s;
}
.top > h1 {
    display: block;
    margin: 0;
    text-align: start;

}
.img-container{
    background-color:var(--background-color) ;
}
footer{
    background-color:var(--darker-background-color) ;
color: var(--text-color);
animation: Vertical-Open 4s ease 0s 1 normal forwards;
}
@media (max-width: 850px) {
    /* section>h1 {
        font-size: 2.3rem;
    } */
.img-container{
    background-color:var(--r-background-color) ;
}
footer{
    background-color:var(--r-darker-background-color) ;
color: var(--r-text-color);
}
.media a{
    color: var(--rmob-text-color);
}
    .right {
        transform: none;
        width: 200px;
        padding: 15px;
    }

    .top {
        flex-direction: column;
        align-items: center;
    }

    ul {
        justify-content: space-between;
        padding: 0;
    }
    .top ul>a {
     margin-right: 20px;
    }
    .bottom {
        flex-direction: column;
        align-items: center;
    }
    .bottom>p {
        order: 2;
        text-align: center;
    }
    .media a {
      margin: 5px ;
}}

@media (max-width: 450px) {
    .img-container{
        background-color:var(--rmob-background-color) ;
    }
    footer{
        background-color:var(--rmob-darker-background-color) ;
    color: var(--r-text-color);
    }
   
    .img {
        order: 2 ;
    }

    .works div:nth-child(10),
    .works div:nth-child(11),
    .works div:nth-child(12) {
        display: none;
    }
}

@keyframes Open {
	0% {
		transform: scaleX(0.4);
	}

	100% {
		transform: scaleX(1);
	}
}

@keyframes Vertical-Open {
	0% {
		transform: scaleY(0.4);
		transform-origin: 0% 100%;
	}

	100% {
		transform: scaleY(1);
		transform-origin: 0% 100%;
	}
}