body {
    margin: 0;

  }
  
  h1,
  h2,
  h3,
  p,
  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .pictures img {
    max-width: 100%;
    display: block;
  }







header ,section,nav{
    margin: auto;
    background-color: black;

}
.fixed-top {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
.navbar{
    display: flex;
    color: aliceblue;
    justify-content: space-around;
    align-content: center;
    padding: 10px 10px 10px 10px;
font-size: 1rem;

}

.left-part,.Logo{
    display: flex;
    align-items: center;
    max-width: 70%;

}

.Logo{
    text-transform: uppercase;
    font-weight: bold;
}
ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;

}
ul li{
    padding: 6px 12px;
}


button{
    text-transform: uppercase;
    border-radius: 25px;
    padding: 6px 12px;

}

button:hover{
    padding: 7px 13px;

}
.paragraphs{
    display: flex;
color: aliceblue;
padding: 80px 10px 80px  10px;
justify-content: space-evenly;
max-width: 70%;
margin: auto;
align-items: center;
flex-direction: column;

}
h1,.text,.medias{
   text-align: center;
   flex-basis: 40%;
margin: 10px;
}
h1{
    font-size: 2rem;
}
.text{
    font-size: 1rem;

}
.medias{
    padding: 10px 10px 10px  10px;

}
.medias a{
    margin-right: 10px;
    color: aliceblue;
}

.pictures{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 40px 10px 40px  10px;

}
.col{
    display: flex;
    flex-direction: column;
}
.col img:nth-child(2){
margin-top: 10px;
}
.pictures img{
    margin-right:20px ;
}




.data{
    
    text-align: center;
    display: flex;
    align-items: center;
    padding: 40px 10px 40px  10px;
    color: aliceblue;
    justify-content: center;

}
.data .col{
    border-right: 1px solid lightgray;
    padding: 40px 5% 40px 5%;

}

.data .col:nth-child(3){
    border-right: none;
}
 h2, p{
    margin-top: 15px;
}










.block{
    display:none ;
    
}

@media screen and (max-width: 768px){
ul,button{
display: none;
}
.block{
    display: block;
    color: aliceblue;
}
}
