body {
    margin:0;
  }
  
  h1,
  h2,
  h3,
  p,
  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  /*
  img {
    max-width: 100%;
  }
  */







header ,section,nav{
    margin: auto;
    background-color: black;

}
.fixed-top {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
.navbar{
    display: flex;
    color: aliceblue;
    justify-content: space-around;
    align-content: center;
    padding: 10px 10px 10px 10px;
font-size: 1rem;

}

.left-part,.Logo{
    display: flex;
    align-items: center;
    max-width: 70%;

}

.Logo a{
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: aliceblue;

}
.Logo a:hover{
    transform: scale(1.1);
    transition: ease 0.48s;
}
ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;

}
ul li{
    padding: 6px 12px;
}


button{
    text-transform: uppercase;
    border-radius: 25px;
    padding: 6px 12px;
    font-weight: bold;

}

button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: ease 0.48s;
}
.paragraphs{
    display: flex;
color: aliceblue;
padding: 40px 0px 40px 0px;
justify-content: space-evenly;
max-width: 70%;
margin: auto;
align-items: center;
flex-direction: column;

}
h1,.text,.medias{
   text-align: center;
   flex-basis: 40%;
margin: 10px;
}
h1{
    font-size: 2rem;
}
.text{
    font-size: 1rem;

}
.medias{
    padding: 10px 10px 10px  10px;

}
.medias a{
    margin-right: 10px;
    color: aliceblue;
}

.pictures{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 40px 10px 40px  10px;

}
.col{
    display: flex;
    flex-direction: column;
}
.col img:nth-child(2){
margin-top: 10px;
}
.pictures img{
    margin-right:20px ;
}




.data{
    
    text-align: center;
    display: flex;
    align-items: center;
    padding: 40px 10px 40px  10px;
    color: aliceblue;
justify-content: center;

}
.data .col{
    border-right: 2px solid rgb(124, 124, 124);
flex-basis: 33.33333%;
padding: 30px 0px 30px  0px;

}

.data .col:nth-child(3){
    border-right: none;
}
 h2, p{
    margin-top: 15px;

}

 .icon i:hover{
    color: rgb(106, 102, 128);
    transform: scale(1.1);
    transition: ease 0.48s;
}

.left-part ul li:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: ease 0.48s;
}

ul a{
    color: aliceblue;
    text-decoration: none;
}



.block{
    display:none ;
    color: aliceblue;

}
.ic{
    color: aliceblue;
}
@media screen and (max-width: 768px){


    ul,button{
display: none !important;

}

.block{
    display: block;
}
}
